{% extends 'base.html' %}


{% load static  %}

{% block title %}Shopping Cart | Hop & Barley{% endblock %}

{% block content %}
<!-- Main Content -->
<main class="cart-page-wrapper">
  <div class="cart-container">
    <h1 class="cart-title">Shopping Cart</h1>

    <div class="cart-items-list" id="cart-items-list">
      <!-- Cart Item 1 -->
        {% for item in cart.cart_items.all %}
          <div class="cart-item" data-price="{{ item.product.price }}">
            <img src="{{ item.product.image.url }}" alt="{{ item.product.name }}" class="cart-item__image">
            <div class="cart-item__body">
              <div class="cart-item__details">
                <h2 class="cart-item__name">{{item.product.name}}</h2>
                <div class="cart-item__price-info">
                  <p class="cart-item__price" data-item-total-price>
                    {{ item.items_cost }}
                  </p>
                  <span class="cart-item__price-tag">{{ item.product.price_tag }}</span>
                </div>
              </div>
              <div class="cart-item__actions">
                <div class="cart-item__quantity-selector">
                  <button class="quantity-btn-cart update-cart-btn" data-product="{{ item.product.id }}" data-action="decrease"><i class="fa-solid fa-minus"></i></button>
                  <span class="quantity-value-cart">{{ item.quantity }}</span>
                  <button class="quantity-btn-cart update-cart-btn" data-product="{{ item.product.id }}" data-action="increase"><i class="fa-solid fa-plus"></i></button>
                </div>
                <button class="button--remove" data-action="remove" data-product="{{ item.product.id }}">
                  Remove <i class="fa-solid fa-xmark"></i>
                </button>
              </div>
            </div>
          </div>
        {% endfor %} 

    <div class="cart-summary">
      <div class="cart-summary__total">
        <p>Total</p>
        <p id="cart-total-price">{{ cart.total_cart_price }}</p>
      </div>
      <a href="checkout.html" class="button button--primary button--checkout">Proceed to Checkout</a>
    </div>
  </div>
</main>
{% endblock %}