{% extends 'base.html' %}


{% load static %}

{% block title %}Login | Hop & Barley{% endblock %}

{% block content %}
<!-- Main Content -->
<main class="auth-page-wrapper">
  <div class="auth-background">
    <img src="{% static 'img/background/pattern.jpg' %}" alt="Background pattern">
  </div>

  <div class="auth-form-container">
    <div class="auth-container auth-container--login">
      <div class="Legend">
        <h1 class="auth-title">Sign In</h1>
      </div>

      <form method='POST' class="auth-form" id="login-form">
        {% csrf_token %}

        {% if form.non_field_errors %}
          <div style="color: #dc3545; font-size: 14px;">
            {{ form.non_field_errors.0 }}
          </div>
        {% endif %}

        <div class="InputField">
          <label for="{{ form.email.id_for_label }}">Email</label>
          {{ form.email }}
          {% if form.email.errors %}
            <span style="color: #dc3545; font-size: 12px;">{{ form.email.errors.0 }}</span>
          {% endif %}
        </div>

        <div class="InputField">
          <label for="{{ form.password.id_for_label }}">Password</label>
            {{ form.password }}
              {% if form.password.errors %}
                <span style="color: #dc3545; font-size: 12px;">{{ form.password.errors.0 }}</span>
              {% endif %}
        </div>

        <div class="ButtonGroup">
          <button type="submit" class="button button--primary">Sign In</button>
        </div>

        <div class="TextLink">
          <a href="forgot_password.html">Forgot password?</a>
        </div>
      </form>

      <p class="auth-switch">Don’t have an account? <a href="{% url 'users:register' %}">Sign up</a></p>
    </div>
  </div>
</main>
{% endblock %}
