{% extends 'base.html' %}


{% load static %}

{% block title %}Password Reset Complete | Hop & Barley{% endblock %}

{% block content %}
<main class="auth-page-wrapper">
    <div class="auth-background">
        <img src="{% static 'img/background/pattern.jpg' %}" alt="Background pattern">
    </div>
    
    <div class="auth-form-container">
        <div class="auth-container">
            <h1 class="auth-title" style="text-align: center;">Success!</h1>
            
            <p style="margin-bottom: 32px; color: #666; line-height: 1.5; text-align: center;">
                Your password has been set successfully. You may go ahead and log in now with your new credentials.
            </p>
            
            <div class="ButtonGroup ButtonGroup--center">
                <a href="{% url 'users:login' %}" class="button button--primary">Sign in to your account</a>
            </div>
        </div>
    </div>
</main>
{% endblock %}