{% extends 'base.html' %}

{% block title %}Каталог товарів | Hop & Barley{% endblock %}

{% block content %}
<!-- Main Content -->

    <section class="hero-banner">
        <img src="../static/img/background/hopfen-fields.jpg" alt="Beautiful hops on a dark background" class="hero-banner__image">
        <div class="hero-banner__overlay"></div>
    </section>

    <div class="container main-content-grid">
        <aside class="sidebar filter-menu">
            <div class="sidebar__section">
                <h3 class="section-title">Keywords</h3>
                <div class="keywords-list">
                    {% for cat in query_categories %}
                        <span class="keyword-tag" data-keyword="{{ cat }}">
                            {{ cat }} <i class="fa-solid fa-xmark remove-keyword-icon"></i>
                        </span>
                    {% endfor %}
                </div>
            </div>

            <div class="sidebar__section">
                <h3 class="section-title">Product Type</h3>
                <div class="checkbox-group">
                    <label class="checkbox-container">Hops
                        <input type="checkbox" data-keyword="Hops" {% if 'Hops' in query_categories %}checked{% endif %}>
                        <span class="checkmark"></span>
                    </label>
                    <label class="checkbox-container">Malts
                        <input type="checkbox" data-keyword="Malts" {% if 'Malts' in query_categories %}checked{% endif %}>
                        <span class="checkmark"></span>
                    </label>
                    <label class="checkbox-container">Yeast
                        <input type="checkbox" data-keyword="Yeast" {% if 'Yeast' in query_categories %}checked{% endif %}>
                        <span class="checkmark"></span>
                    </label>
                    <label class="checkbox-container">Adjuncts
                        <input type="checkbox" data-keyword="Adjuncts" {% if 'Adjuncts' in query_categories %}checked{% endif %}>
                        <span class="checkmark"></span>
                    </label>
                    <label class="checkbox-container">Brewing Kits
                        <input type="checkbox" data-keyword="Brewing Kits" {% if 'Brewing Kits' in query_categories %}checked{% endif %}>
                        <span class="checkmark"></span>
                    </label>
                </div>
            </div>
        </aside>

        <section class="products-area product-grid-section">
            <div class="search-sort-bar">
                <div class="search-input-wrapper">
                    <input type="text" placeholder="Search" class="search-input" value={{ query_search }}>
                    <button class="search-button" aria-label="Search">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </div>
                <div class="sort-options">
                    <button class="sort-button {% if query_sort == 'created_at' %}active-sort{% endif %}" data-sort="created_at">
                        <span>New</span>
                    </button>
                    <button class="sort-button {% if query_sort == 'price' %}active-sort{% endif %}" data-sort="price">Price ascending</button>
                    <button class="sort-button {% if query_sort == '-price' %}active-sort{% endif %}" data-sort="-price">Price descending</button>
                    <button class="sort-button {% if query_sort == 'rating' %}active-sort{% endif %}" data-sort="rating">Rating</button>
                </div>
            </div>
            
            <div class="product-grid">

                {% for product in products %}
                    <a href="{% url 'product-detail' product.slug %}" class="product-card-link">
                        <div class="product-card">
                            <img src="{{ product.image.url }}" alt="{{ product.name }}" class="product-card__image">
                            <div class="product-card__info">
                                <h4 class="product-card__name">{{ product.name }}</h4>
                                <p class="product-card__price">${{ product.price }}</p>
                                <p class="product-card__description">{{ product.short_recomendation }}</p>
                            </div>
                        </div>
                    </a>
                {% endfor %}

            </div>

            <div class="pagination">
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}" class="pagination__link pagination__link--prev">
                        <i class="fa-solid fa-arrow-left"></i>
                        <span>Previous</span>
                    </a>
                {% endif %}

                <div class="pagination-list">
                    {% for num in paginator.page_range %}
                        {% if page_obj.number == num %}
                            <a href="?page={{ num }}" class="pagination__link active">{{ num }}</a>
                        {% else %}    
                            <a href="?page={{ num }}" class="pagination__link">{{ num }}</a>
                        {% endif %}
                    {% endfor %}

                    {% comment %} {% if paginator.num_pages > 1 %}
                        <a href="?page={{ paginator.num_pages }}" class="pagination__link">{{paginator.num_pages}}</a>
                    {% endif %}
                </div> {% endcomment %}

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}" class="pagination__link pagination__link--next">
                        <span>Next</span>
                        <i class="fa-solid fa-arrow-right"></i>
                    </a>
                {% endif %}
            </div>
        </section>
    </div>

{% endblock %}
